__pycache__/
.DS_Store
DiSPy.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
*.pyd
*.c
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
setuptools*
.ipynb_checkpoints
.cache
.tox
.eggs/
gulptmp_4_1
.coverage
.*_cache
# VS Code
.vscode/*